<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org // DTD mapper 3.0 // en" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.Join-mapper">




<resultMap type="MovieVO" id="MovieVO">
	<result column="movie_no" property="movie_no"/>
	<result column="movie_name" property="movie_name"/>
	<result column="movie_level" property="movie_level"/>
	<result column="movie_photo" property="movie_photo"/>
	<result column="movie_preview" property="movie_preview"/>
	<result column="movie_likes" property="movie_likes"/>
	<result column="movie_openday" property="movie_openday"/>
	<result column="movie_genre" property="movie_genre"/>
	<result column="movie_runtime" property="movie_runtime"/>
	<result column="movie_content" property="movie_content"/>
	<result column="movie_actor" property="movie_actor"/>
	<result column="movie_director" property="movie_director"/>
</resultMap>


<resultMap type="ScheduleroomVO" id="ScheduleroomVO">
	<result column="sr_no" property="sr_no"/>
	<result column="sr_seat" property="sr_seat"/>
	<result column="sr_jijum" property="sr_jijum"/>
	<result column="sr_number" property="sr_number"/>
</resultMap>



 <resultMap type="ScheduleVO" id="ScheduleVO">
 	<result column="sch_no" property="sch_no"/>
 	<result column="movie_no" property="movie_no"/>
 	<result column="sr_no" property="sr_no"/>
 	<result column="sch_schedule" property="sch_schedule"/>
 	<result column="sch_naljja" property="sch_naljja"/>
 	<collection property="ScheduleroomVO" resultMap="ScheduleroomVO"/>
 	<collection property="MovieVO" resultMap="MovieVO"/>
 </resultMap>


 <resultMap type="SeatVO" id="SeatVO">
 	<result column="seat_no" property="seat_no"/>
 	<result column="sr_no" property="sr_no"/>
 	<result column="seat_yumu" property="seat_yumu"/>
 	<collection property="ScheduleroomVO" resultMap="ScheduleroomVO"/>
 </resultMap>


 <resultMap type="TicketVO" id="TicketVO">
 	<result column="t_ticket" property="t_ticket"/>
 	<result column="sch_no" property="sch_no"/>
 	<result column="sr_no" property="sr_no"/>
 	<result column="seat_no" property="seat_no"/>
 	<result column="t_pay" property="t_pay"/>
 	<collection property="ScheduleroomVO" resultMap="ScheduleroomVO"/>
 	<collection property="ScheduleVO" resultMap="ScheduleVO"/>
 	<collection property="SeatVO" resultMap="SeatVO"/>
 </resultMap>




	<select id="reserv" resultType="reserv">
		SELECT t._ticket, m.movie_name, sr.sr_jijum, sch.sch_naljja
		FROM ticket t, schedule sch, movie m, scheduleroom sr
		where #{sr.sr_no} = #{sch.sr_no} and #{m.movie_no} = #{sch.movie_no} and #{se.sr_no} = #{sch.sr_no} and #{sch.sch_no} = #{t.sch_no} and #{sr.sr_no} = #{t.sr_no}
		order by 1;
	</select>

</mapper>