:root{
  --seat-size: 1.5rem;
  --seats-per-row: 10;
}

#selected-seats{
  min-width: calc( var(--seat-size) * var( --seats-per-row ) );
  max-width: calc( var(--seat-size) * var( --seats-per-row ) );
  margin: 0 auto;
}

#seating-plan{
	
	/* width:400px; */
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: calc( var(--seat-size) * var( --seats-per-row ) );
  max-width: calc( var(--seat-size) * var( --seats-per-row ) );
  margin: 0 auto;
}

.seat label{
    box-sizing: border-box;
    border-right: 1px solid white;
    cursor: pointer;
    display: inline-block; /* inline-block */
    background-color: #dfe41b;
    color: black;
    font-size: 0.8rem;
    min-width: var(--seat-size);
    min-height: var(--seat-size);
    border-radius: 0.5rem 0.5rem 0 0;
    text-align: center;
  }
.seat [type=checkbox]{
    display: none;
}
 .seat [type=checkbox]:checked ~ label{
        position:static;
        background-color: green;
        font-weight: bold;
 }

/* seat css 09.05 수정 성만 */ 
/* @media(max-width:768px) {

 .seat label {
     width: 31px;
    padding-left: 15px;
 }
 
 } */















